@page
@model SWD_project.Pages.ordersModel
@{
}
<!-- Product details-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">

        @*  changed href="#!" to href="~/" so we can click on the pages in the header *@


        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">


            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/index" style="color: gray;">Log out</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Admin" style="color: dodgerblue;">Products</a>
            </li>

        </ul>

    </div>

</nav>



<div class="container mt-5">
    <h2 class="text-center mb-4">Cart</h2>

    <div class="row">
        <div class="col">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Prices</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ItemCount; i++)
                    {
                        <tr>
                            <td>@Model.OrderItems[i].productName</td>
                            <td>@Model.OrderItems[i].productPrice</td>
                        </tr>
                    }
                </tbody>
            </table>

            <form method="post" asp-page-handler="RemoveOrder">
                <div class="text-center place-order-btn">
                    <button type="submit" class="btn btn-outline-dark">Order Done</button>
                </div>
            </form>


        </div>
    </div>
</div>
