@page
@model SWD_project.Pages.Sign_inModel
@{
}


<body>
    <div class="card-body p-4 list-group-horizontal">
        <div class="jumbotron text-left">
            <p><strong> Continue to admin : </strong></p>
        </div>

        <form method="post">
            <label class="form-label form-control-plaintext" for="username">Admin user name:</label> <input class="form-control" type="text" id="username" asp-for="@Model.User">

            <label class="form-label" for="password">Admin password:</label>
            <input class="form-control" type="password" id="password" asp-for="@Model.Pass">

            <br>
            <button type="submit" class="btn btn-outline-primary d-flex align-items-center" style="width:20%;">
                <i class="bi-cart-fill me-1"></i>
                Login
            </button>

        </form>
    </div>
</body>